@model Conneck.Models.DetailCategory

@{
    ViewBag.Title = "Details";
}
<br />

<h2>Car Cartegory Details</h2>
<br />
<div class="border backgroundWhite">
    <table class="table table-bordered">
        <tr class="table-secondary d">
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AdminC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AdminM)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.CategoryID)
            </td>

            <td>
                @Html.DisplayFor(model => model.CategoryName)
            </td>

            <td>
                @Html.DisplayFor(model => model.Description)
            </td>

            <td>
                @Html.DisplayFor(model => model.AdminC)
            </td>

            <td>
                @Html.DisplayFor(model => model.AdminM)
            </td>

            <td>
                @Html.DisplayFor(model => model.CreatedUtc)
            </td>

            <td>
                @Html.DisplayFor(model => model.ModifiedUtc)
            </td>

            <td>
                @Html.DisplayFor(model => model.AdminM)
            </td>
        </tr>
    </table>
    <div class="form-group row">
        <div class="col-sm-8 ">
            <div class="row">
                <div class="col-3">
                    @Html.ActionLink("Update ", "Edit", new { inputID = Model.CategoryID }, htmlAttributes: new { @class = "col-sm-12 btn btn-primary text-white" })
                </div>
                <div class="col-3">
                    <a href="Index" class="btn btn-success form-control">
                        &nbsp; Back to List
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>



