@model Conneck.Models.CarDetail

@{
    ViewBag.Title = "Details";
}
<br />
<h2> Car Details</h2>

<form method="post">
    @Html.AntiForgeryToken()

    <div class="backgroundWhite border  col-sm-7 ">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-row">
            @Html.LabelFor(model => model.Make, htmlAttributes: new { @class = "control-label col-5" })
            @Html.DisplayFor(model => model.Make, new { htmlAttributes = new { @class = "form-control col-2" } })
            @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(model => model.CarM, htmlAttributes: new { @class = "control-label col-5" })
            @Html.DisplayFor(model => model.CarM, new { htmlAttributes = new { @class = "form-control col-2" } })
            @Html.ValidationMessageFor(model => model.CarM, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-5" })
            @Html.DisplayFor(model => model.Color, new { htmlAttributes = new { @class = "form-control col-2" } })
            @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(model => model.VIN, htmlAttributes: new { @class = "control-label col-5" })
            @Html.DisplayFor(model => model.VIN, new { htmlAttributes = new { @class = "form-control col-2" } })
            @Html.ValidationMessageFor(model => model.VIN, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(model => model.LincesePlate, htmlAttributes: new { @class = "control-label col-5" })
            @Html.DisplayFor(model => model.LincesePlate, new { htmlAttributes = new { @class = "form-control col-2" } })
            @Html.ValidationMessageFor(model => model.LincesePlate, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-5" })
            @Html.DisplayFor(model => model.Year, new { htmlAttributes = new { @class = "form-control col-5" } })
            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-5" })
            @Html.DisplayFor(model => model.CategoryID, new { htmlAttributes = new { @class = "form-control col-2" } })
            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-5" })
            @Html.DisplayFor(model => model.Year, new { htmlAttributes = new { @class = "form-control col-2" } })
            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(model => model.AdminID, htmlAttributes: new { @class = "control-label col-5" })
            @Html.DisplayFor(model => model.AdminID, new { htmlAttributes = new { @class = "form-control col-2" } })
            @Html.ValidationMessageFor(model => model.AdminID, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            @Html.ActionLink("Update ", "Edit", new { carID = Model.CarID }, htmlAttributes: new { @class = "col-sm-12 btn btn-primary text-white" })
        </div>
        <div class="col-4">
            <a href="Index" class="btn btn-success form-control">
                &nbsp; Back to List
            </a>
        </div>
    </div>
</form>

