@model IEnumerable<Conneck.Models.AdminList>

@{
    ViewBag.Title = "Index";

}
<br />
<br />

<form method="post">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Administrator List</h2>
        </div>
        <div class="col-6 text-right">
            @* <a href="Create" class="btn btn-info">
                    <i class="fas fa-plus"></i>&nbsp; Create new admin
                </a>*@

            <a href="@Url.Action("Create", "Admin")" class="btn btn-info">
                <i class="fas fa-plus"></i>
                <span>
                    Add new admin
                </span>
            </a>
        </div>
    </div>
   
    @*
        <div class="border backgroundWhite">
            <div style="height:60px;" class="container border border-secondary">
                <div class="row">
                    <div class="col-4">
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-5">
                                @Html.Editor("Admin", new { htmlAttributes = new { @class = "form-control", placeholder = "AdminI..." } })
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="row" style="padding-top:10px; padding-right:15px;">
                            <button type="submit" name="submit" value="Details" class="btn btn-info form-control">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>*@
    <br />

    <div>

        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    @Html.DisplayNameFor(model => model.AdminID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                </th>
            </tr>
            @foreach (var admin in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => admin.AdminID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => admin.FirstName)
                    </td>
                    <td style="width:150px;">
                        <div class="btn-group" role="group">
                            @Html.ActionLink("Edit", "Edit", new { adminID = admin.AdminID }, htmlAttributes: new { @class = "btn btn-primary text-white" })
                              @Html.ActionLink("Details", "Details", new { adminID = admin.AdminID }, htmlAttributes: new { @class = "btn btn-success text-white" })
                            @Html.ActionLink("Delete", "Delete", new { adminID = admin.AdminID }, htmlAttributes: new { @class = "btn btn-danger text-white" })
                        </div>

                    </td>
                </tr>
            }
        </table>
    </div>

    </div>
</form>

